---
layout: page
title: Archive
menu: main
permalink: /archive/
---
<h3>By Category</h3>
<ul class="categories">
	{%- for category in site.categories -%}
	<li>
		<a href="/blog/category/{{ category[0] }}">{{ category[0] }}</a>
	</li>
	{%- endfor -%}
</ul>
<h3>By Tag</h3>
<ul class="tags">
	{%- for tag in site.tags -%}
	<li>
		<a href="/blog/tag/{{ tag[0] }}">{{ tag[0] }}</a>
	</li>
	{%- endfor -%}
</ul>
<h3>By Date</h3>
{%- assign grouped_posts = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}
{%- for year in grouped_posts -%}
<h4>{{ year.name }}</h4>
<ul class="posts">
	{%- for post in year.items -%}
	<li>
		<span class="post-date">{{ post.date | date: "%-d %B" }}</span>:
		<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
	</li>
	{%- endfor -%}
</ul>
{%- endfor -%}
