---
layout: page
title: Blogroll
menu: main
permalink: /blogroll/
---
<ul>
	<li><a href="https://helixchamber.com/">Helix Chamber</a></li>
	<li><a href="https://jaredwsmith.com/">Jared W. Smith</a></li>
	<li><a href="https://nerdlypleasures.blogspot.com/">Nerdly Pleasures</a></li>
	<li><a href="https://undeadly.org/">OpenBSD Journal</a></li>
	<li><a href="https://dataswamp.org/~solene/">Solene'%</a></li>
	<li><a href="https://tedium.co/">Tedium</a></li>
	<li><a href="https://utcc.utoronto.ca/~cks/space/blog/">Wandering Thoughts</a></li>
</ul>
