---
layout: page
title: Contact
menu: main
permalink: /contact/
---
<ul>
	<li>Email: <a href="mailto:xoddf@sdf.org">xoddf@sdf.org</a>, <a href="mailto:woddfellow2@gmail.com">woddfellow2@gmail.com</a></li>
	<li>IM (XMPP): <a href="xmpp:xoddf@jabber.sdf.org">xoddf@jabber.sdf.org</a></li>
	<li>IRC: xoddf2 on Libera.Chat, OFTC, SlashNET</li>
	<li>Discord: xoddf2</li>
</ul>
<h3>Social Media</h3>
<ul>
	<li>Fediverse: <a href="https://social.sdf.org/@xoddf" rel="me">@xoddf@social.sdf.org</a> (Mastodon)</li>
	<li>Bluesky: <a href="https://bsky.app/profile/xoddf2.bsky.social" rel="me">@xoddf2.bsky.social</a></li>
	<li>Instagram: <a href="https://www.instagram.com/xoddf2/" rel="me">@xoddf2</a></li>
	<li>Threads: <a href="https://www.threads.net/@xoddf2" rel="me">@xoddf2</a></li>
	<li>Twitter/X: <a href="https://x.com/woddfellow2" rel="me">@woddfellow2</a></li>
	<li>YouTube: <a href="https://www.youtube.com/user/woddfellow2/" rel="me">xoddf2 (@woddfellow2)</a></li>
	<li>GitLab: <a href="https://gitlab.com/xoddf2" rel="me">xoddf2</a></li>
</ul>
<h3>PGP Public Keys</h3>
<h4>xoddf@sdf.org</h4>
<pre>-----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGN3KRUBDACtSm8F7ARqFIKJulrxCXzL1R2qSrFS3TVrYb88k8WNsnAhESFc
tvmTbILJhEWsl5uozVYhIBhQ9SkXXYJDI++Bat1l4SBbm1r3MNfhAqoRl5Nu5Xqd
JmAy7maFTavVDOXSHV+fWxe+0iF7nQNzwuiFUv/qgSfrJHLv3tL4+ViejWl4SmvH
XwLAo0T3rgXBLNnmnxhG5VPUozSA8HtKaqbwjOnFwiV7iAbDI5JiaeWx2/LsjvYb
eiN8VysOwrB7ytBNt2c9ULDPBohsF98FDQKRHz5nfz69LygkbYGH4ibHGTxWZc6O
FSN6rNlK67zd2ZK1FCN3nwyk1aFWo76rTtFSvaij3VLEf8IxeIheYelBmUE8CGiJ
MFR6OvDPRZwM+FbgU01TnltdbP1ssm7E/1Zm4QTS5K51dGB1SNni5xrNCZ63ER8q
mhPsIBZ9OtL5e+RULZVNefPra8QzVTaKOXNuczy3F98BAUXluVKirrhQjyFLOHXh
6gxXjDpZTZJ7xAcAEQEAAbQWeG9kZGYyIDx4b2RkZkBzZGYub3JnPokBzgQTAQgA
OBYhBPsTha4lShqRZUIEM8Va8Bd2W+PtBQJjdykVAhsDBQsJCAcCBhUKCQgLAgQW
AgMBAh4BAheAAAoJEMVa8Bd2W+PtVF8MAIipI6rMUgqiOWOHSzeuCP/mzaccbPDX
cZMVgfImQ3e1wGvJdL99OOUwobkaLQqZ/mWN8Y/1Ar3pb7gtpWfvlEFwCw+26dJI
RxXp1w6S/8HlNRHNMYnX8Xt5dKN9nfnZUbh7EfTgfKIrKI6ztbjox/CgYGDWWbd5
maeNfemAuo4UkvJx7D6ZldvfAG1r1FhPCVIjLnGvnODaVHtpAZbVZH5A53URas1D
HWq6DgKnb4JLIeqdqspr8u9SJk/n9Aa1ENnj0e9UGvFXY0p9esXCyGNmeMqMp0V2
lQEzLjkRHMiRnPACD2h8gyaUaf0mKEyP+Z5P+VM1smftESl96ltqkBOng/mewtta
+/K4D7q/BNRU4xFtH0sJJBsqG+z0vUZ5RKWDQfoQ1Uf0yaqhXQhnj/TVTKZFDru3
fNzHUJ4Qm5U5tXBFsI5gGfHhI9E3lKXbUmE/GBTc8eRcBMm83kAx2+75B7y2gpjG
indZ13PKiDVVqglzQBbf+nJp8HyAhryzjrkBjQRjdykVAQwAvfli6ScQhpmaDrAT
TygD3Hoe1tI7/wScA4m6HBjqk0NsV+ftZScAlFvJiRGyI0vonanqM14vIQDJSvtT
rj5VIhn4CbrhQFyXk8gJq4QfThtgyiAomOjt+EEhh841asm1qu6EZD1nn3lXHByZ
wV3cnpvk1qpES2JfwAO4LBbSs2287d9XS2Sd4MC1hioM+nA2TlX0BUulhr39ga0T
+uwdN6bE3BAHim5lInpxVqfuotlmihdVg75kRrACmh2vLwAeWVXn0t6Cki/Ig5Tk
yEKoe5Dw2btmaPH5GxvSdZY6dsLd463ixwTIhcpNRnbJ2bOu0bTSqrNqFqN40iOe
uBzQwkU8gPz/uRYW/FVPJP4vY7QtWJ1VHQaKKtvlkTrZr40CXgzu97MUd4or6xru
S8PgaPGipK3JpOTQJacD4rdEMD+e1LsYwoiWv9XrrR2Ibbs0E7J61i0v0pGq+MUX
rV4/RCxiDAAjqyPtJT0Qt3CCTBLSTLG1oFPlmMxHuBc/NySVABEBAAGJAbYEGAEI
ACAWIQT7E4WuJUoakWVCBDPFWvAXdlvj7QUCY3cpFQIbDAAKCRDFWvAXdlvj7RLf
DACYS7zSNnEsJbMHGFwH/yDlYUxpAET+/4j9w0xjYfcySXcEVVtGkD0j5p7IzYVv
CgdDRQVcxwBgtIbZFCQAPTJkIx8sH1vfNcSAzb8FPsrDEVvr2HHUlwxL+wV+4+hG
mYtP5l6JydF9/BXp3fq6lytJNUKPmkkpjIJ9c0JDv3WpC3d3wo0BH7qECeoJ9BU+
71hZ+XhWu3JRk8fMFDXbwYJimPcrGyLlohYS91qTDVNy7CR+uxIg1eyip0wcTmtC
MBqSwUMlB0tcN5fdyfVMnOW9Ysb9xg/H8YYsX/YxOX+53nl6Te7ktjQ9YqjPdHBi
fo4Si8Zd6ETVU7pCk0/E+MRnOcaA8vu0GIh1Lbq3XM32vF7HGzU7/08EN6y4hlFy
fIVBPMIuasiZfUxIJ6Ytddt6XXhRg4ANOjzfORRi9azklIpT4zcytOPuNo7AYFTZ
hx6l85uqbVlgPL52EFuM2NWosSyBfTkGj0xCfMBvQnEUDX4fYUD+oxIckjhCrUvs
0xg=
=myDP
-----END PGP PUBLIC KEY BLOCK-----</pre>
<h4>woddfellow2@gmail.com</h4>
<pre>-----BEGIN PGP PUBLIC KEY BLOCK-----

mQENBE6aoA8BCADmTnJt8kPI0khGJJi9+P4+HGsGmCel8kFFuyjbKTvEPVuS5Yxj
/Qw/5sTqwnzJGfZCkzUcXJc6Vuyn/TPHQR6HKzRfambJN4jXl9fZkhtWwYzyrqby
EUM3KZwjHUNjMrv17aU9PEskdpuAMlko3O9d9wKJxDPypdt2pv62kaRgdhvKUMON
Ad+tnEMhQ9G6DHtjKpOld6+XE/Xp4zxkWlIGNWJKhsZfuOoBK7RNovRTRhf1bKg2
3wkd2q7bEhAV/U9O5Wun1GdONuFua3v45LBPsNbVHZ8mVStiYu+0eCKMmKZRn6hf
zfaR7hNj7k20ejVuXrBcy4PEl26HC3rHWx2dABEBAAG0I3dvZGRmZWxsb3cyIDx3
b2RkZmVsbG93MkBnbWFpbC5jb20+iQE4BBMBAgAiBQJOmqAPAhsDBgsJCAcDAgYV
CAIJCgsEFgIDAQIeAQIXgAAKCRDyyPJhIOuQ010UB/wLSLEEdYuFnVGVGGZPJf34
e/U7PGyaEmtpdeA1Kr4X/EoLF+ao1nKygGma+/su0nkFYgG6iN8eQbZm0M/0k5CU
NORYCVfzB/RlkAzT59K5lofaPcJimRRJhD2hf14kjU4pn32/67PPqCx23pwySUH6
3+FIxmNjxWEulRYeVgNtlmukRYBmWNP55gyFtuYZ9ruItwWti9PYnKm9kZmtlbUq
gCYeimauKe1r8Q1EiVRqj9J3cmr6gWEUfEREmgoFxzp/nGjViY7+edsDm8EQnvdM
ICBa6evqwhQillepPalEOlLao5um09szplc+sdyms587Bj9+25d2SSniHE5uxo2j
uQENBE6aoA8BCADObe4oniKh3xqDcFVNEHHJxh5CH2pN+oGjpmfoLWkrPTqjft4t
LIaFuSfFxQfy8Inc5T3WfvBmtlemt156p8fnT7J2tfPqA7zOmy8ujBz2B/5k+OUI
Duzk1al974ILAyfUdYaOPQ2bhl2DEhj1yFGr/Pl+09Z+PZSxNK2yQcCTf8WxFZBQ
jEbQpF/G2lo5oMInhzHmObi0zoR+kadU0lClnmrN+IJVxVRIbmlzeycyYp2K2MLb
MXbqvqsf23j1IGf2/F7aE5MJKB234ZPkDnhq+16qZrHd1w31GjfUUfHBEQaatcsg
oBYT+W07RBuNiOffeDACltdsvJMnpn4CWpmVABEBAAGJAR8EGAECAAkFAk6aoA8C
GwwACgkQ8sjyYSDrkNPqLwf/QTb+nP8QQzWJi2rWFA83Sf+yvi04b0SlWGYszXeN
1oehW3X0VwPqL0+0blVRXq7T5pAVWYdnjhKvSOeiJs5VakJpDJjJUSKcBb9V2+Ux
CWJY21lae6/hXdB86PuGfVvO8XMNjJGh1CuDI/H/Hn2b4ayx4+FQfUu3/FPUuC4F
Lg68Q9gNnO+JSTxX609QDaQnV0axQZLK7nupQ/cYXEu0fS2jorste2IT3BcBjIFq
hRi8GC/dMFYwq3bDEOUiU6jmSayL4D0OaaUqJBQ7p1hNwiwr9/ToWeh4su/7UX01
9SO0KqVTRSSx0zubmwDQPDruun/lWJwa2ZoArBU7N1yW+A==
=Mzbc
-----END PGP PUBLIC KEY BLOCK-----</pre>
<p><span class="modified">Last modified 2024-11-10</span></p>
