---
layout: wlair
---
{% for post in paginator.posts %}
<article class="post-content">
	<h2 class="post-title">{{ post.title }} ({{ post.date | date: "%-d %B %Y" }})</h2>
	<div class="excerpt">
		{{ post.excerpt }}
		<p><a href="{{ post.url }}">Read More&hellip;</a></p>
	</div>
</article>
{% endfor %}

<nav class="pagination">
	<span class="previous">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">&larr; Previous</a>
		{% endif %}
	</span>

	<span class="next">
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next &rarr;</a>
		{% endif %}
	</span>

	<div style="clear: both;"></div>
</nav>
