<hr class="contentedge">
<footer>
	<div class="copyright">&copy;2001&ndash;2025 xoddf2</div>
	<div class="credits">Powered by <a href="https://jekyllrb.com/">Jekyll</a> &middot; Hosted by <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/">GitLab Pages</a></div>
	<div style="clear: both;"></div>
</footer>
