<head>
	<meta charset="utf-8">
	<title>{%- if page.title -%}{{ page.title }} &mdash; {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="wlverid" content="{{ site.wlverid }}">
	<meta name="wlblogverid" content="{{ site.wlblogverid }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/latofonts.css" | prepend: site.baseurl }}">
	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">
	{%- if page.url contains '/blog/category/' -%}
	<link rel="alternate" type="application/atom+xml" title="{{ site.title }} Category: {{ page.title }}" href="{{ site.baseurl }}/feed/{{ page.title }}.xml">
	{%- endif -%}
	{%- if page.url contains '/blog/tag/' -%}
	<link rel="alternate" type="application/atom+xml" title="{{ site.title }} Tag: {{ page.title}}" href="{{ site.baseurl }}/feed/by_tag/{{ page.title }}.xml">
	{%- endif -%}
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link href="https://social.sdf.org/@xoddf" rel="me"> <!-- Mastodon verification -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
