<nav id="navi">
	<ul>
		{%- for page in site.pages -%}
		{%- if page.menu == 'main' -%}
		{%- if page.title -%}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{%- endif -%}
		{%- endif -%}
		{%- endfor -%}
		<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Feed</a></li>
	</ul>
</nav>
