/* xoddf2's Blog Stylesheet
   Copyright 2022 xoddf2 */

body {
	background: #FFFFFF;
	color: #000000;
	font-family: LatoWeb, sans-serif;
}

header {
	text-align: center;
}

h2 {
	font-size: 130%;
}

img {
	border: 0;
}

ul li {
	list-style-type: square;
}

abbr {
	text-decoration: underline dotted;
	text-underline-position: under;
	text-decoration-thickness: 1px;
}

/* Links */
a:link {
	text-decoration: underline dotted;
	text-underline-position: under;
	text-decoration-thickness: 1px;
	color: #000080;
}

a:visited {
	color: #800080;
}

a:active {
	color: #800000;
}

a:hover {
	text-decoration: underline;
}

/* Site Name */
#sitename a:link, #sitename a:visited {
	color: #000000;
	text-decoration: none;
}

#sitename a:hover {
	text-decoration: underline;
	text-decoration-style: solid;
}

/* Content Edge Horizontal Rule */
hr.contentedge {
	border: 0;
	height: 1px;
	margin: 8px 0px 8px 0px;
	background: #000000;
}

/* Navigation Bar */
nav#navi ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav#navi li {
	display: inline;
	padding: 8px;
}

/* Navigation Links */
.previous {
	float: left;
}

.next {
	float: right;
}

/* Last Modified */
.modified {
	font-style: italic;
}

/* Misc */
.center {
	text-align: center;
}

.inlinetitle {
	font-weight: bold;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
		background: #151515;
		color: #EAEAEA;
	}

	a:link {
		color: #00EA00;
	}

	a:visited {
		color: #EAEA00;
	}

	a:active {
		color: #FF7575;
	}

	hr.contentedge {
		background: #EAEAEA;
	}

	#sitename a:link, #sitename a:visited {
		color: #EAEAEA;
	}
}

/* Desktop */
@media screen and (min-width: 800px) {
	body {
		font-size: 100%;
		max-width: 800px;
		margin: auto;
		padding: 8px;
	}

	main {
		line-height: 1.25;
	}

	footer {
		font-size: 95%;
	}

	.copyright {
		float: left;
	}

	.credits {
		float: right;
	}
}

/* Mobile */
@media screen and (max-width: 799px) {
	body {
		font-size: 105%;
	}

	main {
		line-height: 1.5;
	}

	footer {
		font-size: 90%;
		line-height: 1.5;
		text-align: center;
	}
}

/* Print */
@media print {
	body {
		background: #FFFFFF;
		color: #000000;
	}

	nav {
		display: none;
	}

	a:link, a:visited {
		text-decoration: underline;
		color: #0000FF;
	}

	#sitename a:link, #sitename a:visited {
		text-decoration: none;
	}

	.previous {
		display: none;
	}

	.next {
		display: none;
	}

	img {
		max-width: 100%;
	}

	footer {
		font-size: 95%;
		text-align: center;
	}
}
