---
layout: wlair
---
<h2>Category: {{ page.title }}</h2>
<p><a href="{{ site.baseurl }}/feed/{{ page.title }}.xml">Feed</a></p>
<ul class="posts">
	{%- for post in page.posts -%}
	<li>
		<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date | date: "%-d %B %Y" }})
	</li>
	{%- endfor -%}
</ul>
