---
layout: wlair
---
<div class="post">
	<article class="post-content">
		<h2 class="post-title">{{ page.title }}</h2>
		{%- assign author = site.authors | where: 'short_name', page.author | first -%}
		{{ content }}
		<aside>
			<p><small>{% if page.author %}<span class="inlinetitle">Author:</span> {{ page.author}} | {%- endif -%}<span class="inlinetitle">Date:</span> {{ page.date | date: "%-d %B %Y" }} | <span class="inlinetitle">Category:</span> {% for category in page.categories %}<a href="{{ site.baseurl }}/blog/category/{{ category }}">{{ category }}</a>{% endfor %} | <span class="inlinetitle">Tag(s):</span> {% for tag in page.tags %}<a href="{{ site.baseurl }}/blog/tag/{{ tag }}">{{ tag }}</a> {% endfor %}</small></p>
		</aside>
	</article>
	<nav>
		<div class="previous">{%- if page.previous.url -%}<a href="{{ site.baseurl }}{{ page.previous.url }}">&larr; Previous: {{ page.previous.title }}</a>{%- endif -%}</div>
		<div class="next">{%- if page.next.url -%}<a href="{{ site.baseurl }}{{ page.next.url }}">Next: {{ page.next.title }} &rarr;</a>{%- endif -%}</div>
		<div style="clear: both;"></div>
	</nav>
</div>
