---
layout: wlair
---
<h2>{{ page.date | date: "%Y" }}</h2>

<ul class="posts">
	{%- for post in page.posts -%}
	<li>
		<span class="post-date">{{ post.date | date: "%-d %B" }}</span>:
		<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
	</li>
	{%- endfor -%}
</ul>
